<h1 class="text-center my-4">User #<%= @user.id %></h1>
<h1 class="mx-4 my-4">Name: <%= @user.username %></h1>
<h1 class="mx-4 my-4">Email: <%= @user.email %></h1>
<h1 class="mx-4 my-4">Member since: <%= @user.created_at %></h1>
