// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  // width: 60% !important;
  // margin: auto !important;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-block {
  border-radius: 5px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}