<nav class="navbar pt-4 navbar-expand-lg footer">

  <div class="text-center">
    <p>Copyright &copy; <%= link_to "Leon T", "https://leontraykov.github.io/cv/", class:"text-white text-decoration-none", target:"_blank" %></p>
  </div>
</nav>
