<div class="container hero my-4 text-center" id="hero">
  <h1 class="my-4">Open Blog</h1>
  <p class="lead">text Hero text Hero text Hero text </p>
  <hr class="my-4">
  <p class="hero-text">Hero text Hero text Hero text Hero text Hero text Hero text Hero text Hero text </p>
  <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
</div>
